
.brand-logo{
    height:50px;
    width: auto;
    display: block;
}
.navbar-gradient{
    background:linear-gradient(to right,#06284f,#8658f0);
}
.navbar-gradient .nav-link,
.navbar-gradient .navbar-brand,
.navbar-gradient .btn {
  color: #fff;
}

.navbar .nav-link.active {
    color:aliceblue;
    font-weight: 600;}

/* Home section */
.home-page {
    background-image: url('../assets/bg3.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;   
    margin: 0;
    padding: 0;
}
.hero-image{
    height: 100%;
    width: 100%;
}


.footer-styles{
    background:#06284f;
}
.footer-styles,
.footer-styles .nav-link,
.footer-styles .nav,
.footer-styles .nav-item,
.footer-styles small {
  color: #fff !important;
}